@import "tailwindcss";
@import "../styles/animations.css";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --breakpoint-xs: 25rem;
    --color-clr-brand-rose: oklch(0.8835 0.0668 355.93);
    --color-clr-brand-red: oklch(0.5275 0.2154 28.26);
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}
